@import url(reset.css);
* {
  box-sizing: border-box;
}
html {
  color: black;
  font-family: 'Tahoma', sans-serif;
  font-size: 10px;
background-image: url(../img/1593663560_46-p-zadnii-fon-65.jpg);
background-repeat:no-repeat;
background-size:100%;
}
header {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    margin-top: 20px;
}
.unauthorized-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.row {
    /*flex-grow: 1;*/
    /*width: 360px;*/
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.row__col {
    flex-grow: 1;
    padding: 20px;
}
.form .form__header {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.contactBook {
    display: none;
}

.contactBook__title,
.contactBook__list,
.contactBook__about,
.contactBook__add {
    margin-bottom: 2px;
}
.contactBook {
    display: none;
    /*display: grid;*/
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:    "header header header"
                            "list about add";
}
.contactBook__header {
    grid-area: header;
}
.contactBook__list {
    grid-area: list;
}
.contactBook__about {
    grid-area: about;
    display: none;
}
.contactBook__add {
    grid-area: add;
}
/*-------------------*/
.row-register {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(65, 72, 85, 0.73);
    /*opacity: 0;*/
}
.register-form, .form__body {
    background-color: #f1f1f1;

    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.register-form {
    position: relative;
}
.btn_closed {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    background-image: url("img/closed.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height: 26px;
    border-radius: 5px;
}
.form__header {
    font-size: 2.1rem;
    margin-top: 10px;
    display: inline-flex;
    justify-content: space-between;
}
.popup-register {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    text-align: center;
    background-color: rgba(65, 72, 85, 0.73);
    opacity: 0;
}

.animationPopUp {
    animation: popUp 2s;
    display: block;
    z-index: 2;
}
.row-register-show {
    animation: block1;
}
@keyframes popUp {
    0% { opacity: 0; }
    10% { opacity: 0.7; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes block1 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes none {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.popup-register > p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    padding: 30px;
    width: 320px;
    background-color: #cccccc;
    left: calc(50% - 160px);
}

/*-------------------*/

.login-form .input, .register-form .input, .input {
    width: 290px;
    height: 44px;
    border-radius: 10px;    
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 4px;
    font-size: 2rem;
}
.btn_register_show, .btn_success {
    width: 280px;
}
.btn_success {
    margin-top: 12px;
}
.btn_register_show {
    font-weight: 600;
    width: 280px;
    padding: 6px;
}
button {
    font-size: 1.7rem;
    font-weight: 700;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    padding: 6px;
    margin-bottom: 20px;
}
button:hover {
    background-color: rgba(191, 197, 201, 0.82);
}
.login-form .form__body {
    padding: 14px 24px 0 24px;
}
.login-form .form__body {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 50px -29px rgba(34, 60, 80, 0.58);
    background-color: rgba(228, 231, 232, 0.11);
}
.input:focus, button:focus {
    border: 2px solid rgb(145, 155, 158);
}
.input:hover {
    border: 2px solid rgb(88, 93, 95);
}
/*---------------------------*/
.contactBook {
    padding: 20px;
    font-size: 2rem;
}
.contactBook__header {
    display: flex;
    justify-content: space-between;
}
.contactBook-header__title {
    font-size: 2rem;
    color: white;
}
.contactBook-list__title {
    text-align: center;
    color: violet;
}
.contactBook-list__list {
    margin-top: 10px;
}
.contactBook__list,
.contactBook__about,
.contactBook__add {
    padding: 10px;
}
.contactBook-list__items {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.contactBook-list__item button {
    width: 100%;
    height: 100%;
    margin: 0;
}
.contactBook__about {
    position: relative;
}
.contactBook-about__exit {
    margin: 0;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.contactBook-add__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactBook-add__btn{
    width: 290px;
    margin-top: 10px;
}
.contactBook-add__title{
    margin-bottom: 10px;
    color: violet;
}
.contactBook-content__contact a{
    color: white;
}
.contactBook-content__name{
    color: violet;
}
.contactBook-content__contact{
    color: violet;
}